variabel = ekspresi

Ruas kiri adalah variabel.
Ruas kanan adalah ekspresi/nilai/variabel yang sudah jelas nilainya.

In [ ]:
greeting = "hello world"
print(greeting)

hello world

In [ ]:
addition = 5+5
result = addition -1
print(result)

9

input / output

In [ ]:
nama = input('masukkan nama: ')
print(nama)

masukkan nama: nyam
nyam

comment

In [ ]:
#inline comment

"""
block comment
"""

tipe data primitif
numbers : int, float, complex

tipe data primitif ke dua
boolean : true atau false

In [ ]:
int = 6
print(type(int))

float = 6.0
print(type(float))

complex = 10+2j
print(type(complex))

#type data numbers bersifat immutable (tidak dapat berubah)
var = 10
print(var)
print(id(var))

#bukan merubah nilai var tapi menambah objek baru
var = 100
print(var)
print(id(var))

#nilai dianggap false :
"""
Nilai yang sudah didefinisikan bernilai salah: None dan False.
Angka nol dari semua tipe numerik: 0, 0.0, 0j, Decimal(0), Fraction(0,1).
Urutan (sequence) dan koleksi (collection) yang kosong: “”, (), {}, set(), range(0).
"""

benar = True
print(benar)
print(type(benar))

salah = False
print(salah)
print(type(salah))

<class 'int'>
<class 'float'>
<class 'complex'>
10
11654664
100
11657544
True
<class 'bool'>
False
<class 'bool'>

String

In [ ]:

singgle = 'singgle quote'
print(singgle)

double_quote = "string dengan double quote"
print(double_quote)

multi_line = """halo
Kapan terakhir kali kita bertemu?
Kita bertemu hari Jum’at yang lalu."""
print(multi_line)
print(type(multi_line))

#index: akses karakter setiap string
index = 'abcdefghij'
print(index[0])
#tidak bisa mengubah string di dalamnya (immutable)
#index[0] = 'b'

#indexing + slecing
print(index[2:])

#menampilkan text string berdasarkan input
name = "Kucing Garong"
#formated string
print(f"hello, meong merupakan: {name}")
#%-formating
print("meong merupakan %s" % (name))
#str.format
print("meong saya {}".format(name))

singgle quote
string dengan double quote
halo
Kapan terakhir kali kita bertemu?
Kita bertemu hari Jum’at yang lalu.
<class 'str'>
a
cdefghij
hello, meong merupakan: Kucing Garong
meong merupakan Kucing Garong
meong saya Kucing Garong

Tipe data collection

In [ ]:
#list tipe datanya bebas bisa di campur
x = [ 1, 0, "yuhu", False, 5.0]
print(x)
print(type(x))
#index
print(x[2])

#list bisa berubah (mutable)
x[0] = "Indonesia"
print(x)

#index slicing
#sequence[start:stop:step]
hw = ["laptop", "monitor", "mouse", "mousepad", "keyboard", "webcam", "microphone"]
print(hw[0:5:2])
print(hw[0:])
print(hw[:3])

#tuple : immutable
var_tuple = (1, "Oy", 1+2j)
print(var_tuple)
print(type(var_tuple))
#index dan slecing sama seperti list

#set {} : sekumpulan(bukan urutan) jadi tidak bisa di index
var_set = {1,2,3,4,5}
print(var_set)
print(type(var_set))

#set bersifat uniqe tanpa duplikat
var_set_dup = {1,1,2,2,4,4,5,6,7,8,8}
print(var_set_dup)

#set merupakan himpunan mtk
#union(gabungan) dan intersection(irisan)

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union = set1.union(set2)
print("Union: ", union)

intersection = set1.intersection(set2)
print("Intersection: ", intersection)

#dictionary: key-value
var_dictionary = {'name': "wardah", 'age': 28, 'isMaried': False}
print(type(var_dictionary))
#untuk mengambil data harus tau 'key'
print(var_dictionary['name'])
#menambah
var_dictionary['job'] = "pemumulung"
print("tambah: ", var_dictionary)
#hapus
del var_dictionary['isMaried']
print("hapus: ", var_dictionary)
#update
var_dictionary['name'] = "liquid"
print("ubah: ", var_dictionary)

#konversi
#print(f"intToFloat: {float(5)}")

[1, 0, 'yuhu', False, 5.0]
<class 'list'>
yuhu
['Indonesia', 0, 'yuhu', False, 5.0]
['laptop', 'mouse', 'keyboard']
['laptop', 'monitor', 'mouse', 'mousepad', 'keyboard', 'webcam', 'microphone']
['laptop', 'monitor', 'mouse']
(1, 'Oy', (1+2j))
<class 'tuple'>
{1, 2, 3, 4, 5}
<class 'set'>
{1, 2, 4, 5, 6, 7, 8}
Union:  {1, 2, 3, 4, 5, 6, 7, 8}
Intersection:  {4, 5}
<class 'dict'>
wardah
tambah:  {'name': 'wardah', 'age': 28, 'isMaried': False, 'job': 'pemumulung'}
hapus:  {'name': 'wardah', 'age': 28, 'job': 'pemumulung'}
ubah:  {'name': 'liquid', 'age': 28, 'job': 'pemumulung'}

Transformai angka, String dan karakter

In [ ]:
#huruf besar
kata = 'dicoding'
kata = kata.upper()
print("huruf besar: ", kata)

#huruf kecil
kata = kata.lower()
print("huruf kecil: ", kata)

#awalan akhiran: hapus space atau kaakter
kata2 = 'dicoding        '
kata2 = kata2.rstrip()
print("hapus strip: ", kata2)

kata3 = '      dicoding'
print("hapus strip awal: ", kata3.lstrip())

kata4 ='      dicoding    '
print("hapus awl akhir: ", kata.strip())

kata5 = 'CodeCodeDicodingCodeCode'
print("hapusKata: ", kata5.strip("Code"))

huruf besar:  DICODING
huruf kecil:  dicoding
hapus strip:  dicoding
hapus strip awal:  dicoding
hapus awl akhir:  dicoding
hapusKata:  Dicoding